body{
    background-color:#ffe8d6;
    margin:auto;
}
h1{
    color:#87240b;
    font-weight:500;
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
  }
h3 {
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
}
 
  p{
    font-style:unset;
    font-size: small;
    text-align: left;
    width:400px;
    font-family:'Times New Roman', Times, serif;
    
  }

#logo {
  width:100%;
  float:center;
  text-align: center;
  }

#tapioca {
  width:250px;
  height:150px;
  float:right;
}
#ab {
  float:right;
  width:30%;
  height:0%;
}
#mor {
  width:300px;
  float:right;
}
#choc {
float:right;
width:250px;
height:150px;
}
#lim {
  width:300px;
  float:right;
}
#am{
  float:left;
  width: 20%; 
  width: 20%;

}
.bolo1 {
  text-align: left;
  position: absolute; 
  width: 0px;
}
#pedaços {
  width:300px;
  float:left;
}
  
h2 {
  color:#87240b; 
  font-weight:500;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
}